{% extends "web/index.html" %}

{% block content %}
<div class="auth-container"
    style="max-width: 500px; margin: 100px auto; padding: 20px; background: rgba(13, 17, 23, 0.8); border: 1px solid #58a6ff; border-radius: 12px; color: #fff; text-align: center;">
    <h2 style="color: #3fb950;">¡Contraseña Restablecida!</h2>
    <p style="color: #c9d1d9;">Tu contraseña ha sido actualizada correctamente. Ahora ya puedes iniciar sesión con tu
        nueva clave.</p>

    <p style="margin-top: 30px;"><a href="{% url 'tree' %}" style="color: #58a6ff; text-decoration: none;">Iniciar
            Sesión</a></p>
</div>
{% endblock %}